/* Style cho modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal-content input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-content button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-submit {
  background-color: #4a90e2;
  color: white;
}

.login-submit:hover {
  background-color: #357abd;
}


.btn-close-login-form {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: #fff;
}