.sidebar-container {
  height: 100vh;
  width: 240px;
  background: linear-gradient(to bottom, #007fbc, #a8dadc);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.ant-menu {
  background: transparent !important;
  border-right: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.ant-menu-item,
.ant-menu-submenu-title {
  transition: all 0.3s ease;
  color: white !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: rgba(255, 255, 255, 0.12) !important;
  color: #ffffcc !important;
}

.ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: #ffec99 !important;
}

.sidebar-title {
  cursor: default;
  font-weight: bold;
  font-size: 1.5em;
  color: #ffffff;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar-logout {
  padding: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

.sidebar-logout:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fb8500; /* cam nhạt cảnh báo */
}

.sidebar-logo {
  text-align: center;
  padding: 16px 0 0 0;
}

.sidebar-logo img {
  max-width: 80px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

